<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.css' />
</head>
<body>

    <div class="container">
        <section class="machine_list">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h2 class="text-center">Machine List</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="machine_image" id="machine_img">
                    </div>
                </div>
            </div>
        </section>
        <section class="user_list">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h2 class="text-center">User List</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="user_box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th class="text-center">Timelog</th>
                                <th>Action</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody id="ubox"></tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-switch.js"></script>
    <script>
        //Get machine list
        var dataM = <%- JSON.stringify(dataMachine) %>;
        //Generate machine_box content
        if(dataM != null) {
            var htmlElements = "";
            dataM.forEach(function(item, index, arr) {
                let status = item.status;
                if(item.status == 'paused') {
                    var html = '<input type="checkbox" name="mbox" alt="'+item._id+'">';
                }
                else {
                    var html = '<input type="checkbox" name="mbox" alt="'+item._id+'" checked>'
                }
                htmlElements += '<div class="col-sm-2 col-xs-6">' +
                        '<img src="images/components/desktop.svg">' +
                        '<div class="status '+item.status+'"><p class="text-center"><b>'+item.no+'</b></p></div>' +
                        html +
                        '</div>';
            });
            var machine_img = document.getElementById("machine_img");
            machine_img.innerHTML = htmlElements;
        };

        //Generate switch for each machine
        $.fn.bootstrapSwitch.defaults.size = 'mini';
        $("[name='mbox']").bootstrapSwitch().on('switchChange.bootstrapSwitch', function(event, state) {
            var mbox = $(this).parent().parent().prev();
            if(mbox.hasClass('opened')) {
                mbox.removeClass('opened');
                mbox.addClass('paused');
            }
            else if(mbox.hasClass('paused')) {
                mbox.removeClass('paused');
                mbox.addClass('opened');
            }
            else if(mbox.hasClass('closed')) {
                $(this).bootstrapSwitch('state',true, true);
                alert('Can\'t Pause A Closed Connection');
            };
        });

        //Get user list
        var dataU = <%- JSON.stringify(dataUser) %>;

        //Generate user_box content
        if(dataU != null) {
            var htmlElement = "";
            var i = 1;
            dataU.forEach(function(item, index, arr) {
            htmlElement += '<tr>'
                            + '<td scope="row">' +i+ '</td>'
                            + '<td>' +item.name+ '</td>'
                            + '<td>' +item.email+ '</td>'
                            + '<td>' +item.status+ '</td>'
                            + '<td><table class="table ubox_inner">'
                                + '<tr><td>Last Login</td><td>'+item.timelog[0].login+'</td></tr>'
                                + '<tr><td>Last Logout</td><td>'+item.timelog[0].logout+'</td></tr>'
                                + '<tr><td>Last Date</td><td>'+item.timelog[0].date+'</td></tr>'
                            + '</table></td>'
                            + '<td><ul>'
                                + '<li>Suspend</li>'
                                + '<li>Delete</li>'
                            + '</ul></td>'
                    + '</tr>';
            i++;
            });
            var ubox = document.getElementById('ubox');
            ubox.innerHTML = htmlElement;
        }

    </script>
</body>
</html>
