<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/admin-style.css' />
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap-switch.css' />-->
</head>
<body>

<!-- Navbar. Non-collapsable-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ZZZTop</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <!-- Breadcrumb & Mini-stats -->
    <section class="top-content">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span> Home</li>
                    <li class="breadcrumb-item active">Admin</li>
                </ol>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <ul class="top-stat">
                        <li>
                            <div class="top-stat-text">
                                <h6>Active Users</h6>
                                <h4><span class="glyphicon glyphicon-plus-sign"></span> 20 Users</h4>
                            </div>
                            <div class="top-stat-figure">
                                <span class="glyphicon glyphicon-signal"></span>
                            </div>
                        </li>
                        <li>
                            <div class="top-stat-text">
                                <h6>Total Users</h6>
                                <h4><span class="glyphicon glyphicon-plus-sign"></span> 40 Users</h4>
                            </div>
                            <div class="top-stat-figure">
                                <span class="glyphicon glyphicon-signal"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Stats & Notes-->
    <section class="content">
        <div class="row">
            <h2>Admin Dashboard</h2>
            <h4>Control Center for Cyber Cafe Management System</h4>
        </div>
    </section>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--<script src="/javascripts/bootstrap-switch.js"></script>-->
<script>

</script>
</body>
</html>
