<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/css-sand/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.css' />
    <link rel='stylesheet' href='/datatables/css/jquery.dataTables.css' />
    <link rel='stylesheet' href='/bt-slider/css/bootstrap-slider.min.css' />
    <link rel='stylesheet' href='/stylesheets/admin-style.css' />
</head>
<body>

<!-- Navbar. Non-collapsable-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KK Cyber Cafe</a>
        </div>
<!--        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>-->
    </div>
</nav>

<div class="container">
    <!-- Breadcrumb & Mini-stats -->
    <section class="top-content">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span> Home</li>
                    <li class="breadcrumb-item active">Admin</li>
                </ol>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <ul class="top-stat">
                        <li>
                            <div class="top-stat-text">
                                <h6>Active Users</h6>
                                <h4><i class="glyphicon glyphicon-plus-sign"></i> 3 Users</h4>
                            </div>
                            <div class="top-stat-figure">
                                <i class="glyphicon glyphicon-signal"></i>
                            </div>
                        </li>
                        <li>
                            <div class="top-stat-text">
                                <h6>Total Users</h6>
                                <h4><i class="glyphicon glyphicon-plus-sign"></i> 10 Users</h4>
                            </div>
                            <div class="top-stat-figure">
                                <i class="glyphicon glyphicon-signal"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Stats & Notes-->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header">
                    <h1>Admin Dashboard</h1>
                    <h4>Control Center for Cyber Cafe Management System</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"> <!--left-content-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="charts-container">
                            <div class="col-md-4">
                                <div class="pie-wrapper progress-30">
                                    <span class="label">30<span class="smaller">%</span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                                <h3>Machine Utilization</h3>
                            </div>
                            <div class="col-md-4">
                                <div class="pie-wrapper progress-60">
                                    <span class="label">60<span class="smaller">%</span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                                <h3>Completed Tasks</h3>
                            </div>
                            <div class="col-md-4">
                                <div class="pie-wrapper progress-90">
                                    <span class="label">90<span class="smaller">%</span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                                <h3>Pending Tickets</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="machine-status-container container-box">
                            <div class="container-header">
                                <i class="glyphicon glyphicon-hdd"></i>
                                <h5>Machine Status</h5>
                                <h6>State of User and Machine Interaction</h6>
                            </div>
                            <div class="machine-status-content">
                                <!--<div class="machine-box">&lt;!&ndash;machine-items&ndash;&gt;
                                    <div class="machine-box-desktop">
                                        <img src="/images/components/desktop.svg" />
                                        <div class="status">
                                            <p class="text-center"><b>1</b></p>
                                        </div>
                                    </div>
                                    <input type="checkbox" name="switch" checked>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"><!--right-content-->
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#taskAdd"><i class="glyphicon glyphicon-plus"></i> Add New Task</button>
                <div class="task-summary-container container-box">
                    <div class="container-header">
                        <i class="glyphicon glyphicon-tasks"></i>
                        <h5>Admin Task List</h5>
                        <h6>List of Ongoing Tasks</h6>
                    </div>
                    <div class="task-list"></div>
                </div>
            </div>
        </div>

        <section class="tickets">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#ticketAdd"><i class="glyphicon glyphicon-plus"></i> Add New Ticket</button>
                    <div class="tickets-container container-box">
                        <div class="container-header">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            <h5>Support Tickets</h5>
                            <h6>List of Support Tickets</h6>
                        </div>
                        <div class="tickets-table">
                            <table id="table_ticket" class="table">
                                <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Priority</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="tickets">
            <div class="row">
                <div class="col-md-12">
                    <div class="tickets-container container-box">
                        <div class="container-header">
                            <i class="glyphicon glyphicon-user"></i>
                            <h5>User Records</h5>
                            <h6>List of Registered Users</h6>
                        </div>
                        <div class="tickets-table">
                            <table id="table_user" class="table">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<!-- Modals - Add Task -->
<div id="taskAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Task</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="taskName">Enter Task Name:</label><br/>
                        <input type="text" name="taskName" />
                    </div>
                    <div class="form-group">
                        <label for="taskProg">Estimate Task Progress:</label><br/>
                        <input name="taskProg" class="ex1" data-slider-id="ex1Slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-success" onclick="addTask(this)">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- end modal-->

<!-- Modals - Add Ticket -->
<div id="ticketAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Ticket</h4>
            </div>
            <form action="/" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="taskName">Select Category :</label><br/>
                        <select>
                            <option>Front-End Site</option>
                            <option>Technical Support</option>
                            <option>General Information</option>
                            <option>Sales</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ticketName">Ticket Issuer Name :</label><br/>
                        <input type="text" name="ticketName" />
                    </div>
                    <div class="form-group">
                        <label for="ticketTitle">Ticket Title :</label><br/>
                        <input type="text" name="ticketTitle" />
                    </div>
                    <div class="form-group">
                        <label for="taskName">Ticket Priority :</label><br/>
                        <select>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                            <option>Urgent</option>
                            <option>Critical</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-md btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- end modal-->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-switch.js"></script>
<script src="/bt-slider/bootstrap-slider.min.js"></script>
<script src="/datatables/js/jquery.dataTables.js"></script>
<script>

    function listTask() {
        $('.task-list').load('/admin/task', function (result) {
            let taskData = JSON.parse(result);
            $('.task-list').html('');
            //Get and populate task list
            taskData.forEach(function (taskitem, index, arr) {
                let htmlBar = '';
                let uid = taskitem._id;
                let uprog = taskitem.taskProgress;
                if (taskitem.taskProgress < 50) {
                    htmlBar = '<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="' + taskitem.taskProgress + '" aria-valuemin="0" aria-valuemax="100" style="width:' + taskitem.taskProgress + '%"></div>'
                } else if (taskitem.taskProgress >= 50 && taskitem.taskProgress < 80) {
                    htmlBar = '<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="' + taskitem.taskProgress + '" aria-valuemin="0" aria-valuemax="100" style="width:' + taskitem.taskProgress + '%"></div>'
                } else if (taskitem.taskProgress >= 80) {
                    htmlBar = '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="' + taskitem.taskProgress + '" aria-valuemin="0" aria-valuemax="100" style="width:' + taskitem.taskProgress + '%"></div>'
                }

                let htmlText =
                        '<div class="task-item">' +
                        '<form id="updateTask">' +
                        '<div class="row">' +
                        '<div class="task-item-text">' +
                        '<div class="col-md-7">' +
                        '<h5 class="text-left">' + taskitem.taskName + '</h5>' +
                        '</div>' +
                        '<div class="col-md-5">' +
                        '<div class="task-item-percentage">' +
                        '<div class="col-md-8">' +
                        '<h5>'+taskitem.status+' </h5>' +
                        '</div>' +
                        '<div class="col-md-4">' +
                        '<i class="glyphicon glyphicon-cog" uprog="'+uprog+'" onclick="updateTaskForm(this)"></i>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="row">' +
                        '<div class="col-md-12">' +
                        '<div class="task-item-bar">' +
                        '<div class="progress">' +
                        htmlBar +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-2 pull-right">' +
                        '<button type="button" class="btn btn-sm btn-success taskSave" uid="'+uid+'" onclick="updateTask(this)">Save</button>' +
                        '</div>' +
                        '</div>' +
                        '</form>' +
                        '</div>'

                $('.task-list').append(htmlText);
            });

        });
    }

    function updateTask(elem) {
        let id = $(elem).attr('uid');
        let formData = $(elem).parent().parent().parent().parent().serialize();
        $.post('/admin/taskUpdate', {formData, id})
        .done(function(result){
            return listTask();
        });
    }

    function addTask(elem) {
        let formData = $(elem).parent().parent().serialize();
        //console.log(formData);
        $.post('/admin/taskAdd', {formData})
        .done(function(result){
            $('#taskAdd').modal('hide');
            $(elem).parent().parent().reset();

            return listTask();
        })
    }

    function updateTaskForm(elem) {
        //let e = $(elem).attr('uid');
        //console.log(e);

        let htmlElemStatus =
        '<div class="col-md-12">' +
            '<select class="btn btn-mini" name="taskStatus">' +
                '<option selected="selected">Pending</option>' +
                '<option>Completed</option>' +
            '</select>' +
        '</div>'

        let eprog = $(elem).attr('uprog');
        let htmlElemBar ='<input name="taskProg" class="ex1" data-slider-id="ex1Slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="'+eprog+'"/>';

        $(elem).parent().parent().parent().parent().parent().next().children().find('.taskSave').css("display", "block");
        $(elem).parent().parent().parent().parent().parent().next().children().find('.task-item-bar').html(htmlElemBar);
        $(elem).parent().parent().html(htmlElemStatus);

        $('.ex1').slider({
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        });
    }

    $(document).ready(function() {
        "use strict";
        listTask();
        $('.ex1').slider({
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        });
        // get & populate machine status
        let machineState = <%- JSON.stringify(dataMachine) %>;
        //Generate machine_box content
        if(machineState != null) {
            let htmlElements = "";
            machineState.forEach(function(item, index, arr) {
                let status = item.status;
                let html = ""
                if(item.status == 'paused') {
                    html = '<input type="checkbox" name="machineStateSwitch" alt="'+item._id+'">';
                }
                else {
                    html = '<input type="checkbox" name="machineStateSwitch" alt="'+item._id+'" checked>'
                }
                htmlElements += '<div class="machine-box">'
                                + '<div class="machine-box-desktop" data-toggle="tooltip" title="Current User: '+item.currentUser+'">'
                                    + '<img src="/images/components/desktop.svg" />'
                                    + '<div class="status '+item.status+'">'
                                        + '<p class="text-center"><b>'+item.no+'</b></p>'
                                    + '</div>'
                                + '</div>'
                                + html
                                + '</div>'
            });
            $('.machine-status-content').append(htmlElements);
        };
        //Initiate and set switches for machine status
        $.fn.bootstrapSwitch.defaults.size = 'mini';
        $.fn.bootstrapSwitch.defaults.onColor = 'warning';
        $("[name='machineStateSwitch']").bootstrapSwitch().on('switchChange.bootstrapSwitch', function(event, state) {
            var mbox = $(this).parent().parent().prev().children('div');
            console.log(mbox.className);
            if(mbox.hasClass('open')) {
                mbox.removeClass('open');
                mbox.addClass('paused');
            }
            else if(mbox.hasClass('paused')) {
                mbox.removeClass('paused');
                mbox.addClass('open');
            }
            else if(mbox.hasClass('active')) {
                $(this).bootstrapSwitch('state',true, true);
                alert('Can\'t Pause An Active Connection');
            };
        });

        //Get and populate tickets table
        let tickets = <%- JSON.stringify(dataTickets) %>
        tickets.forEach(function(item) {
            var html = '<tr>'
                    + '<td>[#'+item.number+']</td>'
                    + '<td>'+item.date+'</td>'
                    + '<td>'+item.category+'</td>'
                    + '<td>'+item.name+'</td>'
                    + '<td>'+item.title+'</td>'
                    + '<td>'+item.priority+'</td>'
                    + '</tr>';

            $('#table_ticket tbody').append(html);
        });
        //Initiate dt
        $('#table_ticket').DataTable();

        //Get and populate user table
        let users = <%- JSON.stringify(dataUser) %>
        let counter = 1;
        users.forEach(function(item) {
            var html = '<tr>'
                    + '<td>'+counter+'.</td>'
                    + '<td class="text-capitalize">'+item.name+'</td>'
                    + '<td>'+item.email+'</td>'
                    + '<td class="text-capitalize">'+item.status+'</td>'
                    + '</tr>';

            $('#table_user tbody').append(html);
            counter++;
        });
        $('#table_user').DataTable();
    });
</script>
</body>
</html>
