<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/css-sand/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.css' />
    <link rel='stylesheet' href='/datatables/css/jquery.dataTables.css' />
    <link rel='stylesheet' href='/stylesheets/admin-style.css' />
    <link rel='stylesheet' href='/stylesheets/taskDash-style.css' />
</head>
<body>

<!-- Navbar. Non-collapsable-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ZZZTop</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <!-- Breadcrumb & Mini-stats -->
    <section class="top-content">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span> Home</li>
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item active">Task Manager</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="tasks">
        <div class="row">
            <div class="col-md-12">
                <div class="item-container container-box">
                    <div class="container-header">
                        <i class="glyphicon glyphicon-tasks"></i>
                        <h5>My Task Summary</h5>
                        <h6>Tasks Management Center</h6>
                    </div>
                    <div class="task-item">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {

        let taskData = <%- JSON.stringify(dataTask) %>;
        let counter = 0;

        taskData.forEach(function(item, index, arr) {
            counter++;
            let htmlOpener = '<div class="row">';

            let htmlHeader =
                '<div class="task-item-container">' +
                    '<div class="item-header">' +
                        '<p class="text-left">'+counter+'. '+item.taskName+'</p>' +
                        //'<span class="label label-default pull-right">'+item.subTask.length+'</span>' +
                    '</div>';

            let htmlSubBody = '';
            if (item.subTask.length > 0) {
                item.subTask.forEach(function(subItem, index, arr) {
                    console.log(subItem.taskName);
                    htmlSubBody +=
                        '<div class="sub-task">' +
                            '<span class="indicator">&#10551;</span>' +
                            '<p>'+subItem.taskName+'</p>' +
                            '<input class="sub-task-slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="'+subItem.taskProgress+'"/>' +
                        '</div>';
                });

                htmlSubBody +=
                    '<div class="sub-task">' +
                        '<button class="btn btn-primary btn-sm">' +
                        '<i class="glyphicon glyphicon-plus"></i> Add New Sub Task' +
                        '</button>'
                    '</div>';
            }

            let htmlCloser = '</div></div>';
            let htmlElement = htmlOpener + htmlHeader + htmlSubBody + htmlCloser;
            $('.task-item').append(htmlElement);
        });
        $('.sub-task-slider').slider({
            tooltip: 'always'
        });

    });
</script>
</html>