<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css-hero/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/users-style.css' />
</head>
<body>

    <div class="container">
        <section class="user_ic">
            <h1>User Overview</h1>
            <div class="user_ic_frame">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="user_ic_image">
                            <img class="center-block" src="/images/user-img/1.jpg" />
                            <h3 class="text-center"><%= username %></h3>
                            <h4 class="text-center">hoghost</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="user_ic_info">
                            <div class="row">
                                <h4>Current Usage Time</h4>
                                <h2 id="loginT"><%= loginT %></h2>
                            </div>
                            <div class="row">
                                <h4>Current Usage Price</h4>
                                <h2 id="price"><%= rate %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="change_set_btn text-right">
                            <i class="glyphicon glyphicon-cog"></i>
                            <h5>Change Settings</h5>
                        </div>
                        <div class="user_ic_pay">
                            <h4>Select Payment Option : </h4>
                            <form class="pay_opt">
                                <input type="radio" name="payOpt" value="PayPal" checked>PayPal<br>
                                <input type="radio" name="payOpt" value="Maybank2u">Maybank2u<br>
                                <input type="radio" name="payOpt" value="In-Store Credit">In-Store Credit<br>
                            </form>
                            <button class="btn btn-primary" id="to_pay">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="emo_container">
            <h1>Users Emotion History</h1>
            <div class="row">
                <div class="col-md-8">
                    //Chart
                </div>
                <div class="col-md-8">

                </div>
            </div>
        </section>
    </div> <!-- end container -->

    <div id="pay_box" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Payment Module</h4>
                </div>
                <form action="/users/pay" method="post">
                    <div class="modal-body">
                        <h4>Current Usage Time</h4>
                        <input type="text" id="finalT" name="finalT"></input>
                        <h4>Current Price to Pay</h4>
                        <input type="text" id="finalP" name="finalP"></input>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Payment Module</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end modal-->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            //Increment Timer
//            var getT = $('#loginT').html();
//            var getR = $('#price').html();

//            function generateTime() {
//                var dt = new Date();
//                var msec = dt.getTime();
//                var diff = msec - getT;
//                var hh = Math.floor(diff / 1000 / 60 / 60);
//                var mm = Math.floor(diff / 1000 / 60 % 60);
//                var ss = Math.floor(diff / 1000 % 60);
//                var t = hh +':'+ mm +':'+ ss;
//                $('#loginT').html(t);
//
//                var price = ((getR * hh) + (getR/60 * mm)).toFixed(2);
//                $('#price').html('RM ' +price);
//            };

            //setInterval(generateTime, 1000);
            //Open Modal
            $('#to_pay').click(function(){
                $('#finalT').val( $('#loginT').html() );
                $('#finalP').val( $('#price').html() );
                $('#pay_box').modal('show');
            });
        });
    </script>
</body>
</html>
