//Global
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Open+Sans')
a
  color: #00B7FF

.container
  margin: 0 auto
  width: 100%

.row-no-margin
  margin-left: 0
  margin-right: 0

section
  margin: 3em 0

//Index
.login_box
  position: absolute
  top: 35%
  form
    padding: 5%
    label
      width: 20%
      text-transform: capitalize
    input
      width: 75%
      color: ghostwhite
  button
    width: 100%

//User Dashboard
.user_ic_frame
  background-color: white
  color: black
  border-radius: 25px

.user_ic_image
  padding: 5%
  border-right: solid 5px #2b3e50
  img
    width: 10em
    height: 10em
    border-radius: 100px
  h3
    font-family: 'Open Sans', sans-serif
  h4
    font-family: 'Abhaya Libre', serif

.user_ic_info
  padding: 10%

.user_ic_pay
  padding: 10%
  button
    width: 100%
    margin-top: 10%

.pay_opt
  border-left: solid 2px #2b3e50
  input
    margin: 5%

.logout
  width: 100%

@media only screen and (max-width: 500px)
  section
    margin: 1em 0

  .user_ic_image
    border-right: none
    border-bottom: solid 5px #2b3e50

  .user_ic_info
    border-bottom: solid 5px #2b3e50
    text-align: center

  .pay_opt input
    margin-left: 10%

//Admin Dashboard
.machine_list, .user_list
  h2
    font-family: 'Abhaya Libre', serif
    border-bottom: double 4px white
    padding: 2% 0
    text-transform: uppercase

.machine_image
  padding: 3% 0
  color: black
  img
    display: block
    margin-left: auto
    margin-right: auto
    width: 100%
  .status
    width: 70%
    height: 42px
    background-color: green
    margin-top: -82%
    margin-left: 15%
    margin-bottom: 25%
    &.opened
      background-color: green
    &.closed
      background-color: red
    &.paused
      background-color: yellow
  .bootstrap-switch
    margin: 15px

.user_box
  table
    font-size: 14px
    tr
      border-bottom: dashed 1px white
      td
        ul
          list-style: none
          padding: 0

.ubox_inner
  tr
    td
      text-align: center
      border-bottom: solid 1px white




