@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');

html, body {
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

section {
    margin: 5em 0;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
}

/*.section-header {*/
    /*font-family: 'Oswald', sans-serif;*/
    /*color: #ecf0f1;*/
    /*margin: 1em 0;*/
/*}*/

.user_ic_frame {
    color: black;
}

.user_ic_image {
    margin: 5% 0;
}

.user_ic_image img {
    width: 15em;
    height: 15em;
    border-radius: 100px;
}

.user_ic_image h2 {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.user_ic_image h3 {
    font-family: 'Abhaya Libre', serif;
    color: #000000;
}

.user_ic_info {;
    border-left: solid 3px #2b3e50;
    border-right: solid 3px #2b3e50;
    padding: 10% 5%;
}

.user_ic_info h1 {
    color: #000000;
}

.change_set_btn {
    height: 0;
    cursor: pointer;
}

.change_set_btn > i, h5 {
    display: inline-block;
}

.user_ic_pay {
    padding: 10% 5%;
}

.user_ic_pay button {
    width: 100%;
    margin-top: 1em;
}

.pay_opt label
{
    font-family: 'Abhaya Libre', serif;
    font-size: 1.5em;
    margin: 5px 0;
}

.logout {
    width: 100%;
}

.modal-body input[type='text'] {
    background: 0;
    border: 0;
    width: 100%;
    overflow: visible;
    outline: 0;
    height: auto;
    font-size: 3em;
}

.emo_container {
}

.emo_get {
    min-height: 100%;
    height: 100%;
}

.emo_get > .jumbotron {
    margin-bottom: 0;
}

.emo_video_container, .emo_image_container {
    position: relative;
    height: 250px;
    overflow: hidden;
}

#emo_start {
    width: 100%;
}

#emo_camera_result {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 5px;
    height: 400px;

}

#emo_camera_result > div {
    border-left: groove 1px grey;
}

#emo_camera_result #capture_time {
    height: 25px;
    text-align: center;
}

#emo_video, #emo_video_overlay, #emo_image, #emo_overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#emo_video, #emo_image {
    z-index: 10;
}

#emo_video_overlay, #emo_overlay {
    z-index: 20;
}


@media only screen and (max-width: 500px) {
    section {
        margin: 1em 0;
    }

    .user_ic_image {
        border-right: none;
        border-bottom: solid 5px #2b3e50;
    }

    .user_ic_info {
        border-bottom: solid 5px #2b3e50;
        text-align: center;
    }

    .pay_opt input {
        margin-left: 10%;
    }
}